.portfolio
    padding-top: 10px
    padding-bottom: 110px
    @include block_head
    &__grid_container
        width: 100%
        display: grid
        min-height: 565px
        grid-template-columns: repeat(4, minmax(0, 1fr))
        grid-template-rows: repeat(2, 1fr)
        gap: 5px
        grid-template-areas: "uber pulse bread plans" "cargo construction construction plans"
    &__grid-elem
        object-fit: scale-down 
        div
            height: 100%


#uber
    grid-area: uber
    div
        background: url('../img/works/uber.jpg') center center / cover no-repeat
#pulse
    grid-area: pulse
    div
        background: url('../img/works/pulse.jpg') center center / cover no-repeat
#bread
    grid-area: bread
    div
        background: url('../img/works/bread.jpg') center center / cover no-repeat
#plans
    grid-area: plans
    div
        background: url('../img/works/plans.jpg') center center / cover no-repeat
#cargo
    grid-area: cargo
    div
        background: url('../img/works/cargo.jpg') center center / cover no-repeat
#construction
    grid-area: construction
    div
        background: url('../img/works/construction.jpg') center center / cover no-repeat